/*
speedTTS/index.css
Version: 2.2  @2023/05/29
Wenchin Hsieh @Goomo.Net Studio, wenchin@goomo.net
*/

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

button {
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

#caption {
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
    padding: 6px;
    background: linear-gradient(to top right, #444, #777, #AAA, #EEE);
}

#panel {
    font-size: 18px;
    padding: 6px;
    background-color: #EEE;
}

#highlight {
    color: #FB0;
}

#map {
    flex-grow: 1;
    position: relative;
    border: 1px solid grey;
}


/* Pure CSS Toggle Switch by W3Schools */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
}